<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wfa_hobby.Properties.Settings.maConectionString" connectionString="Data Source=bd-tinfo;Initial Catalog=EB_hobby;Integrated Security=True;Encrypt=False"
            providerName="" />
    </connectionStrings>
</configuration>